@page
@model MagicButton.Pages.LedsModel

@{
    ViewData["Title"] = "Leds";
}

<h1>Leds</h1>

<p>
    <a asp-page="Led">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Led[0].DeviceConfig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Led[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Led[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Led[0].Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Led[0].ActiveLow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Led) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceConfig.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveLow)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
