@page
@model MagicButton.Pages.LedsModel

@{
    ViewData["Title"] = "LEDs";
}

<h1><i class="bi bi-boxes"></i> @ViewData["Title"]</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-gray p-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">LED Settings</li>
    </ol>
</nav>
<hr />

<p>
    <a class="btn btn-primary" asp-page="Led">Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>LED Colour</th>
            <th>Friendly Name</th>
            <th>GPIO Pin</th>
            <th>Active Low?</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Led)
        {
            <tr>
                <td class="fw-bold">
                    <a asp-page="Led" asp-route-id="@item.Id">@item.Color</a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <span class="badge bg-success fs-5 font-monospace">@item.Pin</span>
                </td>
                <td>
                    @if (item.ActiveLow)
                    {

                       <span class="text-success">✅ Yes</span>

                    }
                    else
                    {

                        <span class="text-danger">⛔ No</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
