@page
@model MagicButton.Pages.PressesModel

@{
    ViewData["Title"] = "Action Log";
}

<h1><i class="bi bi-boxes"></i> @ViewData["Title"]</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-gray p-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Action Log</li>
    </ol>
</nav>
<hr />

<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>Timestamp</th>
            <th>Action</th>
            <th>Duration</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ButtonPress)
        {
            <tr>
                <td><a asp-page="Press" asp-route-id="@item.Id">@item.PressedAtUtc.ToString("dd/MM/yyyy")</a></td>
                <td>@item.ActionConfig?.Url</td>
                <td>@(item.DurationMs + " ms")</td>
                <td>
                    @if (item.ResponseStatusCode.HasValue && item.ResponseStatusCode.Value.ToString().StartsWith("5"))
                    {
                        <span class="badge bg-danger">@item.ResponseStatusCode</span>
                    }
                    else
                    {
                        <span class="badge bg-light">@item.ResponseStatusCode</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
